version: "3"

services:

  server:
    image: server
    deploy:
      replicas: 2
    networks:
      - frontend
      - backend
    expose:
      - "5000"
    depends_on:
      - db

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - server
    ports:
      - "4000:4000"

  db:
    image: mariadb
    restart: always
    networks:
      - backend    
    environment:
      MYSQL_ROOT_PASSWORD: xxxx
      MYSQL_DATABASE: quizz
      MYSQL_USER: root
      MYSQL_PASSWORD: xxxx

networks:
  frontend:
  backend: